!!! Strict
%html(lang="en")
  %p
    Hello,
  %p
    There is a password reset request for this email. If this wasn't you, ignore this message.
  %p
    %b
      Your password reset link is&nbsp;
      %a(href="!{password_reset_url}") here
      .
  %p
    Clover
